#article
  = render :partial => 'users/right_sidebar'
  .content
    %section
      %h1= "Change your password"
      %p
        %span.input-title= "Old Password"
        %input.inputs.secure{:name => 'old_pass', :type => 'text', :value => "", :size => 40}
      %p
        %span.input-title= "New Password"
        %input.inputs.secure{:name => 'new_pass', :type => 'text', :value => "", :size => 40}
      %p
        %input.submit-btn.settingsbtn{:type => 'submit', :value => "Change Password"}
  .cleaner
